# Setup

In [1]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle (1).json

{'kaggle.json': b'{"username":"marcusnagy","key":"93576e607da3a24e7d9b57344ac004f2"}'}

In [2]:
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.6.15)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [3]:
!mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [4]:
!cp kaggle.json ~/.kaggle/

In [5]:
!chmod 600 ~/.kaggle/kaggle.json

In [6]:
!kaggle competitions download centralesupelec-summer-school-on-ai-2022

centralesupelec-summer-school-on-ai-2022.zip: Skipping, found more recently modified local copy (use --force to force download)

In [7]:
!unzip centralesupelec-summer-school-on-ai-2022.zip

Archive:  centralesupelec-summer-school-on-ai-2022.zip
replace sample_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: sample_submission.csv
  inflating: skeleton_code.py
  inflating: test.csv/test.csv
  inflating: train.csv/train.csv

# Overview of the data

* Look att the dataframe for the data.
* Extract the max values for the columns with large values (for normalisation)
* Extract the label column with `.pop` on the dataframe

In [1]:
import pandas as pd

In [2]:
data_train = pd.read_csv("train.csv/train.csv")
data_test = pd.read_csv("test.csv/test.csv")

In [3]:
data_train[:10]

,Unnamed: 0,date,org,tld,ccs,bcced,mail_type,images,urls,salutations,designation,chars_in_subject,chars_in_body,label
0,0,"Mon, 6 Nov 2017 11:13:45 +0100",reply,ebay.in,0,0,multipart/alternative,35,120,0,0,49.0,80027,2
1,1,"Wed, 14 Feb 2018 11:00:16 -0000",edm,efinmail.com,0,0,multipart/alternative,1,7,0,0,107.0,2961,1
2,2,"Wed, 6 Jul 2016 19:53:37 +0000",usebackpack,com,0,0,text/html,4,17,0,0,35.0,25149,1
3,3,"Fri, 11 Oct 2019 11:25:40 +0200",granular,ai,0,0,multipart/mixed,0,0,0,0,15.0,635296,1
4,4,"Tue, 07 Nov 2017 11:07:18 +0000 (UTC)",github,com,1,0,multipart/alternative,2,11,0,0,49.0,2355,1
5,5,"Sun, 13 Dec 2015 18:44:00 +0530",iiitd,ac.in,5,0,multipart/alternative,2,14,1,0,78.0,8365,3
6,6,"Wed, 9 Sep 2015 06:18:29 +0000 (UTC)",piazza,com,0,0,multipart/alternative,0,11,1,1,31.0,3357,1
7,7,"Wed, 23 Aug 2017 10:29:45 +0000",in,ibm.com,0,0,multipart/related,0,4,1,1,218.0,15862,1
8,8,"Sat, 19 May 2018 13:56:53 +0000",redwolf,in,0,0,multipart/alternative,14,39,0,0,49.0,8011,1
9,9,"Mon, 14 May 2018 01:41:53 +0000",m,mail.coursera.org,0,0,multipart/alternative,25,131,0,1,18.0,92248,1

In [4]:
data_train["date"][:10]

0           Mon, 6 Nov 2017 11:13:45 +0100
1          Wed, 14 Feb 2018 11:00:16 -0000
2           Wed, 6 Jul 2016 19:53:37 +0000
3          Fri, 11 Oct 2019 11:25:40 +0200
4    Tue, 07 Nov 2017 11:07:18 +0000 (UTC)
5          Sun, 13 Dec 2015 18:44:00 +0530
6     Wed, 9 Sep 2015 06:18:29 +0000 (UTC)
7          Wed, 23 Aug 2017 10:29:45 +0000
8          Sat, 19 May 2018 13:56:53 +0000
9          Mon, 14 May 2018 01:41:53 +0000
Name: date, dtype: object

In [5]:
data_test[:10]

,Unnamed: 0,date,org,tld,ccs,bcced,mail_type,images,urls,salutations,designation,chars_in_subject,chars_in_body
0,0,"Wed, 1 Nov 2017 15:51:21 +0530",iiitd,ac.in,0,0,multipart/alternative,0,12,1,0,20.0,4505
1,1,"Thu, 05 Mar 2015 20:47:22 -0500",notifications,freelancer.com,0,0,multipart/alternative,7,49,1,0,49.0,32949
2,2,"Thu, 21 Apr 2016 14:53:08 +0530",iiitd,ac.in,1,0,multipart/alternative,0,0,1,0,24.0,1707
3,3,"Tue, 06 Feb 2018 12:12:08 +0000 (UTC)",udacity,com,0,0,multipart/alternative,13,50,1,0,70.0,76686
4,4,"Tue, 21 May 2019 05:56:27 -0700",google,com,0,0,text/html,18,76,1,0,38.0,22646
5,5,"Sun, 12 Aug 2018 12:08:03 +0000",quora,com,0,0,multipart/alternative,12,113,0,1,114.0,105871
6,6,"Sat, 20 Oct 2018 11:19:13 +0530",marketing,goindigo.in,0,0,multipart/alternative,9,51,1,0,43.0,42657
7,7,"Thu, 03 Jan 2019 19:00:00 -0800",mentor,com,0,0,multipart/alternative,4,14,0,0,67.0,7950
8,8,"Tue, 31 May 2016 00:04:29 -0500 (CDT)",amazon,com,0,0,multipart/alternative,8,62,1,0,49.0,38110
9,9,"Fri, 6 Nov 2015 10:57:55 +0530",iiitd,ac.in,0,0,multipart/alternative,0,9,1,0,34.0,4113

In [6]:
number_of_data_points = len(data_train)
number_of_data_points

80176

In [7]:
import numpy as np

In [8]:
np.argmax(data_train["images"])

61381

In [9]:
max_images = max(data_train["images"])

In [10]:
max_urls =  max(data_train["urls"])

In [11]:
max_chars_subject = max(data_train["chars_in_subject"])

In [12]:
max_chars_body = max(data_train["chars_in_body"])

In [13]:
max_images, max_urls, max_chars_subject, max_chars_body # Max values for some of the columns

(83481, 21540, 606.0, 74381084)

In [14]:
y_train = data_train.pop("label")

In [15]:
y_train

0        2
1        1
2        1
3        1
4        1
        ..
80171    3
80172    0
80173    0
80174    0
80175    0
Name: label, Length: 80176, dtype: int64

In [16]:
# NOTE: Because we know that 

# ccs         - number of emails cced with this email, e.g. 0, 2, and 10.
# bcced       - is the receiver bcc'd in the email. Can take two values
#               0 or 1.
# salutations - is salutation used in the email? Either 0 or 1.
# designation - is designation of the sender mentioned in the email. Either 0 
#               or 1.

# We might not have to normilse the data, lets have look.

In [17]:
max_ccs = max(data_train['ccs'])
max_bcc = max(data_train['bcced'])
max_salutations = max(data_train['salutations'])
max_designation = max(data_train['designation'])

print(f"Max value CCS: {max_ccs}")
print(f"Max value BCC: {max_bcc}")
print(f"Max value SALUTATIONS: {max_salutations}")
print(f"Max value DESIGNATION: {max_designation}")

Max value CCS: 179
Max value BCC: 1
Max value SALUTATIONS: 1
Max value DESIGNATION: 1

In [18]:
# Having a look on the data we can see that normilising the CCS is also 
# valuable to us

# Have a look at the example code

In [19]:
!cat skeleton_code.py

"""
This script can be used as skelton code to read the challenge train and test
csvs, to train a trivial model, and write data to the submission file.
"""
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import accuracy_score

## Read csvs

train_df = pd.read_csv('train.csv', index_col=0)
test_df = pd.read_csv('test.csv', index_col=0)

## Filtering column "mail_type"
train_x = train_df[['mail_type']]
train_x = train_x.fillna(value='None')
train_y = train_df[['label']]

test_x = test_df[['mail_type']]
test_x = test_x.fillna(value='None')

## Do one hot encoding of categorical feature
feat_enc = OneHotEncoder()
feat_enc.fit(np.vstack([train_x, test_x]))
train_x_featurized = feat_enc.transform(train_x)
test_x_featurized = feat_enc.transform(test_x)

## Train a simple KNN classifier using featurized data
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(train_x_featurized, train_y)
pred_y = neigh.predict(test_x_featurized)

## Save results to submission file
pred_df = pd.DataFrame(pred_y, columns=['label'])
pred_df.to_csv("knn_sample_submission.csv", index=True, index_label='Id')

# Start changing the columns and normalize them
Check the number of unique values of the columns using `set()` and `len()`

* Columns to normelise:
  * images
  * urls
  * chars_in_subject
  * chars_in_body
  * ccs
* Columns to encode:
  * date
  * mail_type
  * tld
  * org

  To encode we can use `!pip install category_encoders`, check [documentation](https://contrib.scikit-learn.org/category_encoders/).

In [20]:
# df['name'] = df['name'].map(lambda name: name.upper()) ---- This is how we change a column

In [21]:
from typing import List

def dataframe_colum_modifier(df: pd.DataFrame,
                             column_names: List[str],
                             functions: List) -> pd.DataFrame:
  """Modify list of columns in a DataFrame applying the matching index function
  from list of functions.

  :param df: Pandas DataFrame to modify on.
  :param column_names: List of column names to do the modifications to.
  :param functions: List of functions to apply to the respective column.
  """
  df = df.copy()
  for idx, column_name in enumerate(column_names):
    df[column_name] = df[column_name].map(functions[idx])
  return df

In [22]:
normalized_data_train = dataframe_colum_modifier(df=data_train,
                                                 column_names=["images", 
                                                                "urls",
                                                                "chars_in_subject",
                                                                "chars_in_body",
                                                                "ccs"],
                                                 functions=[lambda x: x / max_images,
                                                            lambda x: x / max_urls,
                                                            lambda x: x / max_chars_subject,
                                                            lambda x: x / max_chars_body,
                                                            lambda x: x / max_ccs])

In [23]:
normalized_data_train

,Unnamed: 0,date,org,tld,ccs,bcced,mail_type,images,urls,salutations,designation,chars_in_subject,chars_in_body
0,0,"Mon, 6 Nov 2017 11:13:45 +0100",reply,ebay.in,0.000000,0,multipart/alternative,0.000419,0.005571,0,0,0.080858,0.001076
1,1,"Wed, 14 Feb 2018 11:00:16 -0000",edm,efinmail.com,0.000000,0,multipart/alternative,0.000012,0.000325,0,0,0.176568,0.000040
2,2,"Wed, 6 Jul 2016 19:53:37 +0000",usebackpack,com,0.000000,0,text/html,0.000048,0.000789,0,0,0.057756,0.000338
3,3,"Fri, 11 Oct 2019 11:25:40 +0200",granular,ai,0.000000,0,multipart/mixed,0.000000,0.000000,0,0,0.024752,0.008541
4,4,"Tue, 07 Nov 2017 11:07:18 +0000 (UTC)",github,com,0.005587,0,multipart/alternative,0.000024,0.000511,0,0,0.080858,0.000032
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80171,80171,"Tue, 30 Jun 2020 05:55:20 -0700",github,com,0.005587,0,multipart/alternative,0.000000,0.000371,0,0,0.150165,0.000018
80172,80172,"Fri, 1 May 2015 11:48:55 +0530 (IST)",NaN,NaN,0.000000,0,text/html,0.000000,0.000093,1,0,0.120462,0.000181
80173,80173,"Tue, 26 May 2020 08:18:43 -0700",google,com,0.000000,0,multipart/alternative,0.000323,0.003946,0,0,0.075908,0.000383
80174,80174,"Fri, 14 Dec 2018 09:01:13 +0000 (UTC)",medium,com,0.000000,0,multipart/alternative,0.000383,0.011096,1,1,0.278878,0.001415
80175,80175,"Sun, 21 Oct 2012 23:43:49 -0400",NaN,NaN,0.000000,0,multipart/alternative,0.000000,0.000232,0,0,0.198020,0.000033

In [24]:
unique_orgs, unique_tlds, unique_mail_type, unique_dates = (normalized_data_train["org"].nunique(),
                                                            normalized_data_train["tld"].nunique(),
                                                            normalized_data_train["mail_type"].nunique(),
                                                            normalized_data_train["date"].nunique())
unique_orgs, unique_tlds, unique_mail_type, unique_dates

(1038, 291, 13, 47279)

In [25]:
# We can tell that we most likely want to avoid using one-hot encoding on most
# most of these fields.
# For 'Date' we could probably do something like 1 if mail was sent during
# normal working hours, e.g. 5AM - 10PM and everything between 10PM and 5AM is
# marked with 0.

In [26]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /Users/NGT/.pyenv/versions/3.10.4/lib/python3.10/site-packages (2.5.0)
Requirement already satisfied: numpy>=1.14.0 in /Users/NGT/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from category_encoders) (1.22.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /Users/NGT/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from category_encoders) (1.1.1)
Requirement already satisfied: pandas>=1.0.5 in /Users/NGT/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from category_encoders) (1.4.2)
Requirement already satisfied: patsy>=0.5.1 in /Users/NGT/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: statsmodels>=0.9.0 in /Users/NGT/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from category_encoders) (0.13.2)
Requirement already satisfied: scipy>=1.0.0 in /Users/NGT/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from category_encoders) (1.8.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/NGT/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/NGT/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2022.1)
Requirement already satisfied: six in /Users/NGT/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/NGT/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in /Users/NGT/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: packaging>=21.3 in /Users/NGT/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/NGT/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.9)

In [27]:
import category_encoders as ce # Import different encoders

# Decision Tree using LightBGM

In [46]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA

# NOTE: Different encoders that can be tested.

#encoder = ce.BackwardDifferenceEncoder(drop_invariant= True) # Somewhat good.
#encoder = ce.HelmertEncoder(drop_invariant=True) # Better.
#encoder = ce.OrdinalEncoder(drop_invariant=True) # Doesn't work
#encoder = ce.HashingEncoder(drop_invariant=True) # Bad
#encoder = ce.TargetEncoder(drop_invariant=True) # CAN BE GOOD WITH LSGB for many iterations
encoder = ce.JamesSteinEncoder(drop_invariant=True, randomized=True, sigma=0.2, handle_missing='value', handle_unknown=0)
#encoder = ce.CatBoostEncoder(drop_invariant=True, sigma=0.5) # Works pretty good

# Data
train_data = pd.read_csv('train.csv/train.csv')
test_data = pd.read_csv('test.csv/test.csv')
tot_data = pd.concat([train_data,test_data]).drop('Unnamed: 0', axis=1).drop('date', axis=1)
tot_labels = tot_data.pop('label')
train_labels = train_data.pop('label')
train_data_modified = train_data.drop('Unnamed: 0', axis=1).drop('date', axis=1)
len(train_labels), len(tot_labels), len(tot_data)
tot_data[:10], len(tot_data), len(tot_labels)

(           org                tld  ccs  bcced              mail_type  images  \
 0        reply            ebay.in    0      0  multipart/alternative      35
 1          edm       efinmail.com    0      0  multipart/alternative       1
 2  usebackpack                com    0      0              text/html       4
 3     granular                 ai    0      0        multipart/mixed       0
 4       github                com    1      0  multipart/alternative       2
 5        iiitd              ac.in    5      0  multipart/alternative       2
 6       piazza                com    0      0  multipart/alternative       0
 7           in            ibm.com    0      0      multipart/related       0
 8      redwolf                 in    0      0  multipart/alternative      14
 9            m  mail.coursera.org    0      0  multipart/alternative      25

    urls  salutations  designation  chars_in_subject  chars_in_body
 0   120            0            0              49.0          80027
 1     7            0            0             107.0           2961
 2    17            0            0              35.0          25149
 3     0            0            0              15.0         635296
 4    11            0            0              49.0           2355
 5    14            1            0              78.0           8365
 6    11            1            1              31.0           3357
 7     4            1            1             218.0          15862
 8    39            0            0              49.0           8011
 9   131            0            1              18.0          92248  ,
 114541,
 114541)

In [213]:
# NOTE Only run this if one-hot encode for `mail-type`, but generally the encoders above gives better result than one hot encoding.

from sklearn.preprocessing import OneHotEncoder
onehot = OneHotEncoder(sparse=False)
output = onehot.fit_transform(tot_data['mail_type'].to_numpy().reshape(-1,1))
frame = pd.DataFrame(output, columns=['mail_type' + str(i) for i in range (0,15)]).reset_index()
res = tot_data.drop(['mail_type'], axis=1).reset_index()
tot_data = pd.concat([res, frame], axis=1).drop(['index'], axis=1)
tot_data[:10]

,date,org,tld,ccs,bcced,images,urls,salutations,designation,chars_in_subject,...,mail_type5,mail_type6,mail_type7,mail_type8,mail_type9,mail_type10,mail_type11,mail_type12,mail_type13,mail_type14
0,"Mon, 6 Nov 2017 11:13:45 +0100",reply,ebay.in,0,0,35,120,0,0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"Wed, 14 Feb 2018 11:00:16 -0000",edm,efinmail.com,0,0,1,7,0,0,107.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"Wed, 6 Jul 2016 19:53:37 +0000",usebackpack,com,0,0,4,17,0,0,35.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,"Fri, 11 Oct 2019 11:25:40 +0200",granular,ai,0,0,0,0,0,0,15.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"Tue, 07 Nov 2017 11:07:18 +0000 (UTC)",github,com,1,0,2,11,0,0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,"Sun, 13 Dec 2015 18:44:00 +0530",iiitd,ac.in,5,0,2,14,1,0,78.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,"Wed, 9 Sep 2015 06:18:29 +0000 (UTC)",piazza,com,0,0,0,11,1,1,31.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,"Wed, 23 Aug 2017 10:29:45 +0000",in,ibm.com,0,0,0,4,1,1,218.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,"Sat, 19 May 2018 13:56:53 +0000",redwolf,in,0,0,14,39,0,0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,"Mon, 14 May 2018 01:41:53 +0000",m,mail.coursera.org,0,0,25,131,0,1,18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [214]:
#NOTE Run this to get a method for one hot encoding.

def one_hot(on: OneHotEncoder, df: pd.DataFrame, column_name: str, columns: List[str]) -> pd.DataFrame:
    output = on.transform(df[column_name].to_numpy().reshape(-1,1))
    frame = pd.DataFrame(output, columns=columns).reset_index()
    res = df.drop([column_name], axis=1).reset_index()
    out = pd.concat([res, frame], axis=1).drop(['index'], axis=1)
    return out

In [227]:
#Have a look at the date column
dates = tot_data['date']
dates[:10], len(dates)

(0           Mon, 6 Nov 2017 11:13:45 +0100
 1          Wed, 14 Feb 2018 11:00:16 -0000
 2           Wed, 6 Jul 2016 19:53:37 +0000
 3          Fri, 11 Oct 2019 11:25:40 +0200
 4    Tue, 07 Nov 2017 11:07:18 +0000 (UTC)
 5          Sun, 13 Dec 2015 18:44:00 +0530
 6     Wed, 9 Sep 2015 06:18:29 +0000 (UTC)
 7          Wed, 23 Aug 2017 10:29:45 +0000
 8          Sat, 19 May 2018 13:56:53 +0000
 9          Mon, 14 May 2018 01:41:53 +0000
 Name: date, dtype: object,
 114541)

In [228]:
"""Run this cell to parse the date field into integers."""
from dateutil.parser import parse
import pandas as pd
import pytz

def handle_bad_format(date: str):
    #print(f"Date prior: {date}")
    if '(GMT+' in date or '(GMT-' in date:
        #print("ENTER")
        date = date.replace(date[-11:-1], '(GMT')
        #print(date)
        return date
    return date

def parse_date(df: pd.DataFrame) -> pd.DataFrame:
    dates_total_copy = df.copy()

    for idx, date in enumerate(df):
        date_object = parse(handle_bad_format(date)).astimezone(pytz.utc)
        hours = date_object.hour
        weekday = date_object.weekday()
        match weekday:
            case 0 | 1 | 2 | 3 | 4:  # Work day
                if hours in range(6, 19):
                    dates_total_copy.iloc[idx] = 1
                elif hours in range(19, 25) or hours in range (0, 6):
                    dates_total_copy.iloc[idx] = 2
            case 5 | 6:  # Weekend
                if hours in range(6, 19):
                    dates_total_copy.iloc[idx] = 3
                elif hours in range(19, 25) or hours in range (0, 6):
                    dates_total_copy.iloc[idx] = 4
    
    return dates_total_copy
        

dates_parsed = parse_date(df=dates)
dates_parsed[:11], len(dates_parsed)

(0     1
 1     1
 2     2
 3     1
 4     1
 5     3
 6     1
 7     1
 8     3
 9     2
 10    2
 Name: date, dtype: object,
 114541)

In [229]:
#NOTE: Run this cell if one hot encoding for the dates is wished for.

onehot_dates = OneHotEncoder(sparse=False)
output_dates = onehot_dates.fit_transform(dates_parsed.to_numpy().reshape(-1,1))
frame = pd.DataFrame(output_dates, columns=['date1', 'date2', 'date3', 'date4']).reset_index()
frame[:10]

   index  date1  date2  date3  date4
0      0    1.0    0.0    0.0    0.0
1      1    1.0    0.0    0.0    0.0
2      2    0.0    1.0    0.0    0.0
3      3    1.0    0.0    0.0    0.0
4      4    1.0    0.0    0.0    0.0
5      5    0.0    0.0    1.0    0.0
6      6    1.0    0.0    0.0    0.0
7      7    1.0    0.0    0.0    0.0
8      8    0.0    0.0    1.0    0.0
9      9    0.0    1.0    0.0    0.0

In [230]:
#NOTE: Run this cell for one hot encoding for the date column.

res_date = tot_data.drop(['date'], axis=1).reset_index()
tot_data = pd.concat([res_date, frame], axis=1).drop(['index'], axis=1)
tot_data[:10], len(tot_data), len(tot_labels)

(           org                tld  ccs  bcced              mail_type  images  \
 0        reply            ebay.in    0      0  multipart/alternative      35
 1          edm       efinmail.com    0      0  multipart/alternative       1
 2  usebackpack                com    0      0              text/html       4
 3     granular                 ai    0      0        multipart/mixed       0
 4       github                com    1      0  multipart/alternative       2
 5        iiitd              ac.in    5      0  multipart/alternative       2
 6       piazza                com    0      0  multipart/alternative       0
 7           in            ibm.com    0      0      multipart/related       0
 8      redwolf                 in    0      0  multipart/alternative      14
 9            m  mail.coursera.org    0      0  multipart/alternative      25

    urls  salutations  designation  chars_in_subject  chars_in_body  date1  \
 0   120            0            0              49.0          80027    1.0
 1     7            0            0             107.0           2961    1.0
 2    17            0            0              35.0          25149    0.0
 3     0            0            0              15.0         635296    1.0
 4    11            0            0              49.0           2355    1.0
 5    14            1            0              78.0           8365    0.0
 6    11            1            1              31.0           3357    1.0
 7     4            1            1             218.0          15862    1.0
 8    39            0            0              49.0           8011    0.0
 9   131            0            1              18.0          92248    0.0

    date2  date3  date4
 0    0.0    0.0    0.0
 1    0.0    0.0    0.0
 2    1.0    0.0    0.0
 3    0.0    0.0    0.0
 4    0.0    0.0    0.0
 5    0.0    1.0    0.0
 6    0.0    0.0    0.0
 7    0.0    0.0    0.0
 8    0.0    1.0    0.0
 9    1.0    0.0    0.0  ,
 114541,
 114541)

In [47]:
#NOTE:Random permutation, DO THIS WITH CATBOOST_ENCODER and nothing else.
perm = np.random.permutation(len(tot_data))
X = tot_data.iloc[perm].reset_index(drop=True)
y = tot_labels.iloc[perm].reset_index(drop=True)
X[:10]

,org,tld,ccs,bcced,mail_type,images,urls,salutations,designation,chars_in_subject,chars_in_body
0,coupondunia,in,0,0,text/html,35,139,1,0,71.0,77549
1,connect,digitalglobe.com,0,0,multipart/alternative,6,29,0,0,36.0,35546
2,piazza,com,0,0,multipart/related,0,0,0,0,50.0,4
3,iiitd,ac.in,0,0,multipart/alternative,0,2,0,0,23.0,1201
4,facebookmail,com,0,0,multipart/alternative,4,16,0,0,46.0,11406
5,statebankrewardz,com,0,0,multipart/mixed,22,47,0,0,77.0,36826
6,google,com,0,0,text/html,18,76,0,0,37.0,22463
7,usebackpack,com,0,0,multipart/alternative,4,19,1,0,36.0,26981
8,amazon,in,0,0,multipart/mixed,0,0,0,0,45.0,4
9,mentor,com,0,0,multipart/alternative,4,16,0,0,49.0,7010

In [48]:
# NOTE: This runs the encoder and fits it on the entire data-set, and uses the encoder to encode all possible categorical features which are not numerical.

encode_result = encoder.fit_transform(tot_data.reset_index().drop('index', axis=1), tot_labels.reset_index().drop('index', axis=1))
# encode_result = encoder.fit_transform(X, y)
encode_result[:30]

,org,tld,ccs,bcced,mail_type,images,urls,salutations,designation,chars_in_subject,chars_in_body
0,1.481565,1.587208,0,0,0.740834,35,120,0,0,49.0,80027
1,0.540731,0.614216,0,0,1.593068,1,7,0,0,107.0,2961
2,0.630728,1.776240,0,0,1.053586,4,17,0,0,35.0,25149
3,0.595173,1.580025,0,0,1.862160,0,0,0,0,15.0,635296
4,2.563116,2.246162,1,0,1.226123,2,11,0,0,49.0,2355
5,2.089304,2.211662,5,0,2.041098,2,14,1,0,78.0,8365
6,0.503203,1.804712,0,0,1.406388,0,11,1,1,31.0,3357
7,1.137741,1.161539,0,0,1.699227,0,4,1,1,218.0,15862
8,1.631759,1.316848,0,0,1.302401,14,39,0,0,49.0,8011
9,1.036322,1.237951,0,0,1.261646,25,131,0,1,18.0,92248
10,1.442744,1.050389,0,0,1.626253,9,59,1,0,24.0,43378
11,1.226335,2.533820,0,0,1.577634,9,136,1,1,112.0,117567
12,0.218304,1.499871,0,0,1.292889,2,12,0,0,36.0,4296
13,0.530788,0.878753,0,0,1.732902,4,27,1,0,15.0,20250
14,1.846417,1.324613,0,0,1.406707,4,41,0,0,29.0,30063
15,1.834593,1.842498,0,1,1.570405,0,0,0,0,54.0,1060737
16,1.032056,0.928652,0,0,1.436829,14,62,0,1,36.0,37423
17,2.447043,1.871595,2,0,1.454086,0,241,1,0,30.0,8435011
18,0.570898,0.775133,0,0,1.070337,1,1,0,0,81.0,709
19,1.159911,2.360863,0,0,1.899947,0,0,0,0,0.0,2312248
20,2.173700,2.059853,0,0,1.558389,0,6,1,0,31.0,2743
21,1.550785,1.337290,0,0,1.442501,3,26,1,0,112.0,46676
22,0.969601,1.220294,0,0,1.443458,9,44,0,0,51.0,21356
23,0.887908,1.150439,0,0,1.683325,0,2,0,0,77.0,1121
24,1.840493,1.567435,2,0,1.501155,0,0,1,0,52.0,5144
25,0.511360,0.824357,0,0,1.851119,0,4,1,0,32.0,1210
26,1.085235,1.071709,0,0,1.032231,0,5,0,0,50.0,1534
27,0.286063,1.429412,0,0,2.184735,45,146,1,0,60.0,135951
28,2.009304,0.688700,0,0,1.792132,7,25,0,0,44.0,20052
29,1.077405,1.664421,4,0,1.942288,0,0,1,0,65.0,3853

In [155]:
#NOTE: Run this to one hot encode the data that the model will train on.

df = one_hot(on=onehot,
             df=train_data_modified,
             column_name='mail_type',
             columns=['mail_type' + str(i) for i in range (0,15)])
df[:10]

,date,org,tld,ccs,bcced,images,urls,salutations,designation,chars_in_subject,...,mail_type5,mail_type6,mail_type7,mail_type8,mail_type9,mail_type10,mail_type11,mail_type12,mail_type13,mail_type14
0,"Mon, 6 Nov 2017 11:13:45 +0100",reply,ebay.in,0,0,35,120,0,0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"Wed, 14 Feb 2018 11:00:16 -0000",edm,efinmail.com,0,0,1,7,0,0,107.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"Wed, 6 Jul 2016 19:53:37 +0000",usebackpack,com,0,0,4,17,0,0,35.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,"Fri, 11 Oct 2019 11:25:40 +0200",granular,ai,0,0,0,0,0,0,15.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"Tue, 07 Nov 2017 11:07:18 +0000 (UTC)",github,com,1,0,2,11,0,0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,"Sun, 13 Dec 2015 18:44:00 +0530",iiitd,ac.in,5,0,2,14,1,0,78.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,"Wed, 9 Sep 2015 06:18:29 +0000 (UTC)",piazza,com,0,0,0,11,1,1,31.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,"Wed, 23 Aug 2017 10:29:45 +0000",in,ibm.com,0,0,0,4,1,1,218.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,"Sat, 19 May 2018 13:56:53 +0000",redwolf,in,0,0,14,39,0,0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,"Mon, 14 May 2018 01:41:53 +0000",m,mail.coursera.org,0,0,25,131,0,1,18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [233]:
#NOTE: Run this to one hot encode the date column for the data that the model will train.

dates = train_data_modified['date']
parsed_dates = parse_date(dates)
output_dates = onehot_dates.transform(parsed_dates.to_numpy().reshape(-1,1))
frame = pd.DataFrame(output_dates, columns=['date1', 'date2', 'date3', 'date4']).reset_index()
res_date = train_data_modified.drop(['date'], axis=1).reset_index()
df = pd.concat([res_date, frame], axis=1).drop(['index'], axis=1)
df[:10]

,org,tld,ccs,bcced,mail_type,images,urls,salutations,designation,chars_in_subject,chars_in_body,date1,date2,date3,date4
0,reply,ebay.in,0,0,multipart/alternative,35,120,0,0,49.0,80027,1.0,0.0,0.0,0.0
1,edm,efinmail.com,0,0,multipart/alternative,1,7,0,0,107.0,2961,1.0,0.0,0.0,0.0
2,usebackpack,com,0,0,text/html,4,17,0,0,35.0,25149,0.0,1.0,0.0,0.0
3,granular,ai,0,0,multipart/mixed,0,0,0,0,15.0,635296,1.0,0.0,0.0,0.0
4,github,com,1,0,multipart/alternative,2,11,0,0,49.0,2355,1.0,0.0,0.0,0.0
5,iiitd,ac.in,5,0,multipart/alternative,2,14,1,0,78.0,8365,0.0,0.0,1.0,0.0
6,piazza,com,0,0,multipart/alternative,0,11,1,1,31.0,3357,1.0,0.0,0.0,0.0
7,in,ibm.com,0,0,multipart/related,0,4,1,1,218.0,15862,1.0,0.0,0.0,0.0
8,redwolf,in,0,0,multipart/alternative,14,39,0,0,49.0,8011,0.0,0.0,1.0,0.0
9,m,mail.coursera.org,0,0,multipart/alternative,25,131,0,1,18.0,92248,0.0,1.0,0.0,0.0

In [49]:
#NOTE: Run every time, transforms the columns with categorical features using the encoder specified above when reading in the data. This has to be done for the train data.

df = encoder.transform(train_data_modified)
df[:10]

,org,tld,ccs,bcced,mail_type,images,urls,salutations,designation,chars_in_subject,chars_in_body
0,1.448422,1.463274,0,0,1.640206,35,120,0,0,49.0,80027
1,0.673282,0.666217,0,0,1.640206,1,7,0,0,107.0,2961
2,0.695918,1.594165,0,0,1.029407,4,17,0,0,35.0,25149
3,1.474256,1.376895,0,0,1.548000,0,0,0,0,15.0,635296
4,1.887488,1.594165,1,0,1.640206,2,11,0,0,49.0,2355
5,1.789870,1.786617,5,0,1.640206,2,14,1,0,78.0,8365
6,0.505022,1.594165,0,0,1.640206,0,11,1,1,31.0,3357
7,0.946819,0.901107,0,0,1.646017,0,4,1,1,218.0,15862
8,1.504632,1.421475,0,0,1.640206,14,39,0,0,49.0,8011
9,1.049098,1.034175,0,0,1.640206,25,131,0,1,18.0,92248

In [50]:
#NOTE: Run this cell to normalize the columns containing large values. It's easy to add more columns as needed to the list of columns_to_norm.

def normalize(values):
    return (values - values.min())/(values.max() - values.min())

columns_to_norm = ['images', 'urls', 'chars_in_subject', 'chars_in_body', 'ccs']

#
# Normalize the feature columns
#
df[columns_to_norm] = df[columns_to_norm].apply(normalize)

df[:10]

,org,tld,ccs,bcced,mail_type,images,urls,salutations,designation,chars_in_subject,chars_in_body
0,1.448422,1.463274,0.000000,0,1.640206,0.000419,0.005571,0,0,0.080858,0.001076
1,0.673282,0.666217,0.000000,0,1.640206,0.000012,0.000325,0,0,0.176568,0.000040
2,0.695918,1.594165,0.000000,0,1.029407,0.000048,0.000789,0,0,0.057756,0.000338
3,1.474256,1.376895,0.000000,0,1.548000,0.000000,0.000000,0,0,0.024752,0.008541
4,1.887488,1.594165,0.005587,0,1.640206,0.000024,0.000511,0,0,0.080858,0.000032
5,1.789870,1.786617,0.027933,0,1.640206,0.000024,0.000650,1,0,0.128713,0.000112
6,0.505022,1.594165,0.000000,0,1.640206,0.000000,0.000511,1,1,0.051155,0.000045
7,0.946819,0.901107,0.000000,0,1.646017,0.000000,0.000186,1,1,0.359736,0.000213
8,1.504632,1.421475,0.000000,0,1.640206,0.000168,0.001811,0,0,0.080858,0.000108
9,1.049098,1.034175,0.000000,0,1.640206,0.000299,0.006082,0,1,0.029703,0.001240

In [52]:
"""Split the train data into test and train data-set."""

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df,
                                                    train_labels,
                                                    train_size=0.7,
                                                    shuffle=True)

In [53]:
x_train

,org,tld,ccs,bcced,mail_type,images,urls,salutations,designation,chars_in_subject,chars_in_body
59642,1.789870,1.786617,0.0,0,1.640206,0.000000,0.000139,0,0,0.125413,0.000016
12724,1.789870,1.786617,0.0,0,1.640206,0.000000,0.000093,1,1,0.066007,0.000065
23511,0.728822,1.594165,0.0,0,1.640206,0.000180,0.006546,1,1,0.132013,0.000857
21680,0.950836,1.594165,0.0,0,1.640206,0.000000,0.000232,0,0,0.066007,0.000054
12042,1.132694,1.594165,0.0,0,1.640206,0.000000,0.000371,1,0,0.067657,0.000215
...,...,...,...,...,...,...,...,...,...,...,...
64276,1.012714,0.978451,0.0,0,1.035373,0.000000,0.000046,0,0,0.057756,0.000003
46092,1.271653,1.594165,0.0,0,1.640206,0.000252,0.003203,0,1,0.046205,0.000920
41678,1.609933,1.594165,0.0,0,1.640206,0.000036,0.001300,1,0,0.173267,0.000672
40662,1.354074,1.345368,0.0,0,1.640206,0.000156,0.002832,0,1,0.074257,0.000569
5376,0.346485,1.594165,0.0,0,1.640206,0.000012,0.000696,1,0,0.069307,0.000260

In [54]:
"""Create the Decision Tree classifier and fit the model."""

from sklearn.ensemble import HistGradientBoostingClassifier
from lightgbm import LGBMClassifier


# HGBC, similar to LightGBM
# clf = HistGradientBoostingClassifier(loss='log_loss',
#                                      learning_rate=0.01,
#                                      max_iter=2000,
#                                     #  categorical_features=[True, True, False, False, True, False, False, False, False, False, False],
#                                      verbose=1)

clf = LGBMClassifier(objective='multiclass',
                     num_iterations=10000,
                     learning_rate=0.001,
                     verbosity=1,
                     num_class=8, 
                     metric='multi_logloss',
                     extra_trees=True, 
                     path_smooth=0.8, 
                     max_bin=300, 
                     zero_as_missing=True,
                     boosting='gbdt',
                     )

clf.fit(x_train.to_numpy(), y_train.to_numpy())

/Users/NGT/.pyenv/versions/3.10.4/lib/python3.10/site-packages/lightgbm/engine.py:177: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

[LightGBM] [Warning] boosting is set=gbdt, boosting_type=gbdt will be ignored. Current value: boosting=gbdt
[LightGBM] [Warning] boosting is set=gbdt, boosting_type=gbdt will be ignored. Current value: boosting=gbdt
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.003832 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1387
[LightGBM] [Info] Number of data points in the train set: 56123, number of used features: 11
[LightGBM] [Info] Start training from score -1.499260
[LightGBM] [Info] Start training from score -0.767298
[LightGBM] [Info] Start training from score -2.235453
[LightGBM] [Info] Start training from score -2.013443
[LightGBM] [Info] Start training from score -5.463030
[LightGBM] [Info] Start training from score -6.360590
[LightGBM] [Info] Start training from score -6.253170
[LightGBM] [Info] Start training from score -2.747724

LGBMClassifier(boosting='gbdt', extra_trees=True, learning_rate=0.001,
               max_bin=300, metric='multi_logloss', num_class=8,
               num_iterations=10000, objective='multiclass', path_smooth=0.8,
               verbosity=1, zero_as_missing=True)

In [55]:
# Predict on the test set

y_pred = clf.predict(x_test)

In [56]:
# Make an observation on the 10 first predictions

y_pred[:10], y_test.to_numpy()[:10]

(array([0, 0, 1, 1, 3, 1, 7, 1, 1, 1]), array([2, 0, 0, 1, 3, 0, 1, 0, 0, 2]))

In [57]:
#Compute the f1-score for the prediction

from sklearn.metrics import f1_score

f1_score(y_test.to_numpy(), y_pred, average='weighted')

0.5827655077036948

# Try under- and oversampling to see if it can improve the prediction.
Consider doing this because the data is pretty biased to some data points, and does not contain a wide variety.
Use python package `pip install -U imbalanced-learn`.

In [59]:
from imblearn.under_sampling import NearMiss
from imblearn.over_sampling import SMOTE

smote = SMOTE()
x_train_smote, y_train_smote = smote.fit_resample(x_train.fillna(0), y_train)
clf = LGBMClassifier(objective='multiclass',
                     num_iterations=10000,
                     learning_rate=0.001,
                     verbosity=1,
                     num_class=8, 
                     metric='multi_logloss',
                     extra_trees=True, 
                     path_smooth=0.8, 
                     max_bin=300, 
                     zero_as_missing=True,
                     boosting='gbdt',
                     )
clf.fit(x_train_smote, y_train_smote)

/Users/NGT/.pyenv/versions/3.10.4/lib/python3.10/site-packages/lightgbm/engine.py:177: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

[LightGBM] [Warning] boosting is set=gbdt, boosting_type=gbdt will be ignored. Current value: boosting=gbdt
[LightGBM] [Warning] boosting is set=gbdt, boosting_type=gbdt will be ignored. Current value: boosting=gbdt
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.006403 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2395
[LightGBM] [Info] Number of data points in the train set: 208448, number of used features: 11
[LightGBM] [Info] Start training from score -2.079442
[LightGBM] [Info] Start training from score -2.079442
[LightGBM] [Info] Start training from score -2.079442
[LightGBM] [Info] Start training from score -2.079442
[LightGBM] [Info] Start training from score -2.079442
[LightGBM] [Info] Start training from score -2.079442
[LightGBM] [Info] Start training from score -2.079442
[LightGBM] [Info] Start training from score -2.079442

In [ ]:
y_pred = clf.predict(x_test)

In [ ]:
f1_score(y_test.to_numpy(), y_pred, average='weighted')

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df,
                                                    train_labels,
                                                    train_size=0.7,
                                                    shuffle=True)

In [ ]:
x_train[20:30]

In [ ]:
nearmiss = NearMiss(version=3)
x_train_nearmiss, y_train_nearmiss = nearmiss.fit_resample(x_train, y_train)
clf = LGBMClassifier(objective='multiclass',
                     num_iterations=10000,
                     learning_rate=0.001,
                     verbosity=1,
                     num_class=8, 
                     metric='multi_logloss',
                     extra_trees=True, 
                     path_smooth=0.8, 
                     max_bin=300, 
                     zero_as_missing=True,
                     boosting='gbdt',
                     )
clf.fit(x_train_nearmiss, y_train_nearmiss)

In [ ]:
y_pred = clf.predict(x_test)

In [ ]:
f1_score(y_test.to_numpy(), y_pred, average='weighted')

In [256]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
def print_score(clf, X_train, y_train, X_test, y_test, train=True):
    if train:
        pred = clf.predict(X_train)
        clf_report = pd.DataFrame(classification_report(y_train, pred, output_dict=True))
        print("Train Result:n================================================")
        print(f"Accuracy Score: {accuracy_score(y_train, pred) * 100:.2f}%")
        print("_______________________________________________")
        print(f"CLASSIFICATION REPORT:n{clf_report}")
        print("_______________________________________________")
        print(f"Confusion Matrix: n {confusion_matrix(y_train, pred)}n")
    elif train==False:
        pred = clf.predict(X_test)
        clf_report = pd.DataFrame(classification_report(y_test, pred, output_dict=True))
        print("Test Result:n================================================")        
        print(f"Accuracy Score: {accuracy_score(y_test, pred) * 100:.2f}%")
        print("_______________________________________________")
        print(f"CLASSIFICATION REPORT:n{clf_report}")
        print("_______________________________________________")
        print(f"Confusion Matrix: n {confusion_matrix(y_test, pred)}n")

In [257]:
confusion_matrix(y_test, y_pred)

array([[2563, 1754,  138,   19,   27,   16,    7,   24],
       [1379, 5146,  920, 1067,   12,    8,    5,  768],
       [ 128,  772, 1211,    1,    0,    0,    6,   17],
       [   4,  817,    4, 1822,    0,    0,    0,    0],
       [  11,   48,    9,    0,   19,    0,    0,    0],
       [   9,   13,    0,    1,    0,   10,    0,    0],
       [   8,    8,    8,    0,    0,    0,   13,    0],
       [   0,  181,    1,    0,    0,    0,    0, 1070]])

# Submission Part

In [261]:
test_data_submit = pd.read_csv('test.csv/test.csv').drop('Unnamed: 0', axis=1).drop('date', axis=1)

In [265]:
test_data_submit[:5]

,org,tld,ccs,bcced,mail_type,images,urls,salutations,designation,chars_in_subject,chars_in_body
0,iiitd,ac.in,0,0,multipart/alternative,0,12,1,0,20.0,4505
1,notifications,freelancer.com,0,0,multipart/alternative,7,49,1,0,49.0,32949
2,iiitd,ac.in,1,0,multipart/alternative,0,0,1,0,24.0,1707
3,udacity,com,0,0,multipart/alternative,13,50,1,0,70.0,76686
4,google,com,0,0,text/html,18,76,1,0,38.0,22646

In [263]:
#NOTE: Run this every time since we always want to normalize the columns with large values.
def norm_comp(df: pd.DataFrame, cols: List[str]):
    """normalize the Pandas DataFrame columns.
    
    :param df: Pandas DataFrame.
    :param cols: List of string of column names.
    """
    def normalize(values):
        return (values - values.min())/(values.max() - values.min())
    #
    # Normalize the feature columns
    #
    df[cols] = df[cols].apply(normalize)
        

columns_to_norm = ['images', 'urls', 'chars_in_subject', 'chars_in_body', 'ccs']

In [174]:
#NOTE: Run this to encode the `mail_type` column.

tf_test_data_submit = one_hot(on=onehot,
                              df=test_data_submit,
                              column_name='mail_type',
                              columns=['mail_type' + str(i) for i in range (0,15)])
tf_test_data_submit[:10]

,date,org,tld,ccs,bcced,images,urls,salutations,designation,chars_in_subject,...,mail_type5,mail_type6,mail_type7,mail_type8,mail_type9,mail_type10,mail_type11,mail_type12,mail_type13,mail_type14
0,"Wed, 1 Nov 2017 15:51:21 +0530",iiitd,ac.in,0,0,0,12,1,0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"Thu, 05 Mar 2015 20:47:22 -0500",notifications,freelancer.com,0,0,7,49,1,0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"Thu, 21 Apr 2016 14:53:08 +0530",iiitd,ac.in,1,0,0,0,1,0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Tue, 06 Feb 2018 12:12:08 +0000 (UTC)",udacity,com,0,0,13,50,1,0,70.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"Tue, 21 May 2019 05:56:27 -0700",google,com,0,0,18,76,1,0,38.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5,"Sun, 12 Aug 2018 12:08:03 +0000",quora,com,0,0,12,113,0,1,114.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,"Sat, 20 Oct 2018 11:19:13 +0530",marketing,goindigo.in,0,0,9,51,1,0,43.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,"Thu, 03 Jan 2019 19:00:00 -0800",mentor,com,0,0,4,14,0,0,67.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,"Tue, 31 May 2016 00:04:29 -0500 (CDT)",amazon,com,0,0,8,62,1,0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,"Fri, 6 Nov 2015 10:57:55 +0530",iiitd,ac.in,0,0,0,9,1,0,34.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [266]:
#NOTE: Transform the submission data-set using the encoder defined above and previously fitted.

tf_test_data_submit = encoder.transform(test_data_submit)
tf_test_data_submit[:5]

,org,tld,ccs,bcced,mail_type,images,urls,salutations,designation,chars_in_subject,chars_in_body
0,1.869428,1.864584,0,0,1.710962,0,12,1,0,20.0,4505
1,1.318367,0.490991,0,0,1.710962,7,49,1,0,49.0,32949
2,1.869428,1.864584,1,0,1.710962,0,0,1,0,24.0,1707
3,1.436036,1.654005,0,0,1.710962,13,50,1,0,70.0,76686
4,0.254242,1.654005,0,0,0.860426,18,76,1,0,38.0,22646

In [267]:
# Normalizing the data

norm_comp(df=tf_test_data_submit,
          cols=columns_to_norm)
tf_test_data_submit[:5]

,org,tld,ccs,bcced,mail_type,images,urls,salutations,designation,chars_in_subject,chars_in_body
0,1.869428,1.864584,0.000000,0,1.710962,0.000000,0.000557,1,0,0.033003,0.000061
1,1.318367,0.490991,0.000000,0,1.710962,0.000084,0.002275,1,0,0.080858,0.000447
2,1.869428,1.864584,0.005587,0,1.710962,0.000000,0.000000,1,0,0.039604,0.000023
3,1.436036,1.654005,0.000000,0,1.710962,0.000156,0.002321,1,0,0.115512,0.001040
4,0.254242,1.654005,0.000000,0,0.860426,0.000216,0.003528,1,0,0.062706,0.000307

In [268]:
# Predictions

pred_y = clf.predict(tf_test_data_submit)

In [271]:
## Save results to submission file
pred_df = pd.DataFrame(pred_y, columns=['label'])
pred_df.to_csv("hgbc_sample_submission.csv", index=True, index_label='Id')